body {
    margin: 0;
    background-color: #FBFEFB;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #181817;
    padding-top: 2vh;
}


h1  {
  text-align: center;
  font-size: calc(1.5rem + 3vw); 
  font-family: "Leckerli One", cursive;
  font-weight: 400;
  font-style: normal;
  color: #F3D8C7;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #F3D8C7;
}

main {
    min-height: 80vh;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #181817;
    color: #F3D8C7;
    padding: 2vh 0;
}

.nav {
    text-align: center;
    margin: 0;
    padding: 2vh 0;
    color: #F3D8C7;
}

.content-footer p {
    text-align: center;
    margin: 0;
    padding: 2vh 0;
}

.content-footer > :first-child {

    border-bottom: 1px solid #F3D8C7;

}

@media screen and (max-width: 767px) {

    main {
        width:100%;
    }

}

@media screen and (min-width: 768px) {

  main {
     width:100%;
  }

}

@media screen and (min-width: 1024px) {

  main {
      width:90%;
      margin: 0 auto;
  }

  .content-footer {
    width:90%;
    margin: 0 auto;
  }

  h1 {
    width:90%;
    margin: 0 auto;
  }

}