/*Estilos generales para todos los media querys*/

body {
    margin: 0;
    background-color: #FBFEFB;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilos del titulo */

header {
    background-color: #181817;
    padding-top: 2vh;
}


h1  {
  text-align: center;
  font-size: calc(1.5rem + 3vw); 
  font-family: "Leckerli One", cursive;
  font-weight: 400;
  font-style: normal;
  color: #EFE5DC;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #EFE5DC;
}

/* Estilos del contenido */

main {
    min-height: 80vh;
    margin: 0;
    padding: 0;
    /*Este color de fondo no va en el diseño final*/
    background-color: #EFE5DC;
}

/* Estilos del nav para muestra */

.menu {
    text-align: center;
    margin: 0;
    padding: 2vh 0;
    color: #EFE5DC;
}

/* Estilos del footer */

footer {
    background-color: #181817;
    color: #EFE5DC;
    padding: 2vh 0;
}

.content-footer p {
    text-align: center;
    margin: 0;
    padding: 2vh 0;
}

/* linea del footer*/

.content-footer > :first-child {

    border-bottom: 1px solid #EFE5DC;

}


/* Media querys */

@media screen and (max-width: 767px) {

    main {
        width:100%;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

}

@media screen and (min-width: 768px) {

  main {
     width:100%;
     display: grid;
      grid-template-columns: auto auto;
      justify-content: space-around;
  }

}

@media screen and (min-width: 1024px) {

    main {
        width:100%;
        display: grid;
         grid-template-columns: auto auto auto;
         justify-content: space-around;
     }

}


@media screen and (min-width: 1441px) {

  main {
      width:80%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: auto auto auto auto;
      justify-content: space-around;
  }

  .content-footer {
    width:80%;
    margin: 0 auto;
  }

  h1 {
    width:80%;
    margin: 0 auto;
  }

}