
#prendas {
    width:100%;
    display: grid;
    row-gap: 3vh;
    grid-template-columns: auto;
    justify-content: center;

}

#cont_new {
  width:100%;
  padding-bottom: 6vh;
  text-align: center;
}

/* #cont_new a {
  margin: 0 auto;
} */

a {
  text-decoration: none;
}

/* Sombras de las tarjetas*/

main a div {
  
  box-shadow: 5px 5px 10px #EFE5DC;
  transition: opacity 0.20s ease;

}

main a div:hover {

  opacity: 0.7;

}

/* Media querys */

/* Tablet desde 720px a 1023px*/

@media screen and (min-width: 650px) {

  #prendas {
     width:100%;
     grid-template-columns: auto auto;
     justify-content: space-around;
  }

}

/* Monitor de 1024px a 1440px */

@media screen and (min-width: 1024px) {

  #prendas {
     width:100%;
     grid-template-columns: auto auto auto;
     justify-content: space-around;
     }

}

/* Monitor a partir de 1441px */

@media screen and (min-width: 1441px) {

  #prendas {
      width:80%;
      margin-left: auto;
      margin-right: auto;
      grid-template-columns: auto auto auto auto;
     justify-content: space-around;
  }

  #cont_new {
    width:80%;
    margin: 0 auto;
  }

  .content-footer {
    width:80%;
    margin: 0 auto;
  }

  h1 {
    width:80%;
    margin: 0 auto;
  }

}