main {

    display: grid;
    row-gap: 3vh;
    grid-template-columns: auto;
    justify-content: center;

}

a {
  text-decoration: none;
}

/* Media querys */

/* Movil menor a 719px*/

@media screen and (max-width: 520px) {

    main {
        width:100%;
        grid-template-columns: auto;
        justify-content: center;
    }

}

/* Tablet desde 720px a 1023px*/

@media screen and (min-width: 650px) {

  main {
     width:100%;
     grid-template-columns: auto auto;
     justify-content: space-around;
  }

}

/* Monitor de 1024px a 1440px */

@media screen and (min-width: 1024px) {

    main {
     width:100%;
     grid-template-columns: auto auto auto;
     justify-content: space-around;
     }

}

/* Monitor a partir de 1441px */

@media screen and (min-width: 1441px) {

  main {
      width:80%;
      margin-left: auto;
      margin-right: auto;
      grid-template-columns: auto auto auto auto;
     justify-content: space-around;
  }

  .content-footer {
    width:80%;
    margin: 0 auto;
  }

  h1 {
    width:80%;
    margin: 0 auto;
  }

}