.card-post{
  width: 50%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.post{
  text-align: center;
}

/* Media querys */

@media screen and (max-width: 650px) {

 .card-post{
  width: 80%;
 }

}

@media screen and (min-width: 1441px) {

  main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
  }

  .content-footer {
    width: 80%;
    margin: 0 auto;
  }

  h1 {
    width: 80%;
    margin: 0 auto;
  }

}