.card-post{
  width: 50%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 30px;
  box-shadow: 15px 15px 10px #39383729;
}

.post{
  text-align: center;
}
.titulo-img{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 34px;
  margin-bottom: 10px;
}


/* Estilos para la descripción */
.post-description {
  font-family: 'Arial', sans-serif;
  color: #666; 
  font-size: 21px; 
  line-height: 1.5; 
}

/* Estilos para la imagen */
/* .card-post { */
/*   transition: transform 2.3s ease;  *//* Agrega una transición suave a la propiedad transform */
/* } */

/* Aplica la rotación horizontal cuando se pasa el mouse sobre la imagen */
/* .card-post:hover {
  transform: rotateY(90deg); /* Rota la imagen horizontalmente 180 grados */
/*} */

/*Corrige salto de 1px en menú al hace hover y no haber ningún borde en los enlaces*/

.menu li a {

  border-bottom: 1px solid;
  border-color: #181817;
}




/* Media querys */

@media screen and (max-width: 650px) {

 .card-post{
  width: 80%;
 }

}

@media screen and (min-width: 1441px) {

  main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
  }

  .content-footer {
    width: 80%;
    margin: 0 auto;
  }

  h1 {
    width: 80%;
    margin: 0 auto;
  }

}